@import url("https://fonts.googleapis.com/css?family=Scheherazade");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Great+Vibes");
body {
  font-family: 'Scheherazade', serif;
  background: #fff8f6; }

section {
  padding-top: 4rem;
  padding-bottom: 4rem; }

h1 {
  font-family: 'Great Vibes', sans-serif;
  color: #384252;
  font-size: 1.8rem; }
  @media (min-width: 768px) {
    h1 {
      font-size: 2.2rem; } }
  @media (min-width: 992px) {
    h1 {
      font-size: 2.5rem; } }

h2 {
  font-family: 'Scheherazade', serif;
  text-transform: uppercase;
  font-size: 20px;
  color: #384252;
  letter-spacing: 2px; }

h3 {
  color: #384252;
  opacity: 0.5;
  font-style: italic;
  font-size: 16px;
  font-family: 'Scheherazade', serif;
  padding: 1rem 0;
  text-align: center; }

p {
  color: #384252;
  font-size: 20px;
  line-height: 1.4; }

.social {
  text-align: center; }

.internal-container {
  margin-top: 7.6rem;
  padding: 8rem 0;
  text-align: center; }
  .internal-container .title-text {
    width: 80%;
    margin: 0 auto;
    max-width: 1000px; }
    @media (min-width: 768px) {
      .internal-container .title-text {
        width: 60%; } }
    @media (min-width: 1199px) {
      .internal-container .title-text {
        width: 80%; } }
    .internal-container .title-text span {
      font-weight: bold; }
    .internal-container .title-text h1 {
      font-size: 6rem;
      color: #fff8f6; }

.navbar-expand-md .navbar-nav {
  width: 100%;
  justify-content: center; }
  .navbar-expand-md .navbar-nav li {
    display: inline-block; }

.navbar-bg {
  background-color: #ffb9a0;
  opacity: .9;
  padding: 1.25rem 1.25rem 0.75rem 1.25rem;
  text-align: center;
  flex-flow: row wrap; }
  .navbar-bg a {
    color: #384252;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: bold;
    position: relative; }
    @media (min-width: 992px) {
      .navbar-bg a::before {
        content: "";
        position: absolute;
        width: 50%;
        height: 2px;
        bottom: 0;
        left: 25%;
        top: 2rem;
        background-color: #384252;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s; }
      .navbar-bg a:hover::before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1); }
      .navbar-bg a.active::before {
        content: "";
        position: absolute;
        width: 50%;
        height: 2px;
        bottom: 0;
        left: 25%;
        top: 2rem;
        visibility: visible;
        background-color: #384252;
        -webkit-transform: scaleX(1);
        transform: scaleX(1); } }

.navbar-expand-lg .navbar-collapse {
  flex-flow: row wrap;
  margin-top: 0.5rem; }
  @media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
      margin-top: 0; } }
  .navbar-expand-lg .navbar-collapse ul {
    width: 100%;
    justify-content: center; }
  .navbar-expand-lg .navbar-collapse .nav-link {
    padding-left: 1rem;
    padding-right: 1rem; }
    @media (min-width: 992px) and (max-width: 1157px) {
      .navbar-expand-lg .navbar-collapse .nav-link {
        padding-left: 0.4rem;
        padding-right: 0.4rem; } }

.navbar-toggler {
  display: inline-block;
  margin: 0.25rem auto 0 auto;
  border: 1px solid #384252;
  border-radius: 0; }
  .navbar-toggler h2 {
    margin-bottom: 0;
    margin-top: 2px; }

.navbar-button {
  width: 100%; }

.bullet {
  color: #384252;
  font-size: 10px;
  letter-spacing: 2px;
  display: none;
  margin-top: 8px;
  font-size: 15px; }
  @media (min-width: 992px) {
    .bullet {
      display: inline-block; } }

@media (min-width: 992px) {
  .bullet-internal {
    display: none; } }

.logo {
  align-self: stretch;
  flex: 1 100%; }
  .logo a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 2.5rem;
    letter-spacing: 0;
    font-weight: 400; }
    .logo a:hover::before {
      content: "";
      visibility: hidden;
      -webkit-transform: scaleX(0);
      transform: scaleX(0); }

section {
  background-color: #fff8f6; }

.hero-container, .wedding-hero-container {
  text-align: center;
  background: url("../images/hero_long.jpg") 0 0 no-repeat;
  background-size: cover;
  background-position: 20%;
  height: 20rem;
  margin-top: 7.6rem; }
  @media (min-width: 768px) {
    .hero-container, .wedding-hero-container {
      height: 30rem; } }
  @media (min-width: 992px) {
    .hero-container, .wedding-hero-container {
      height: 40rem; } }

.wedding-hero-container {
  background: url("../images/wedding-party-hero.jpg") 0 0 no-repeat;
  background-size: cover;
  background-position: 40% 50%; }
  @media (min-width: 1199px) {
    .wedding-hero-container {
      background-position: 50% 50%; } }

.date {
  background: #fff8f6;
  padding: 14rem 0; }
  .date a img {
    width: 32px; }

.about {
  text-align: center;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .about {
      width: 40%; } }

.our-story {
  padding: 0; }
  .our-story p {
    margin-top: 2rem; }
  .our-story p,
  .our-story h2 {
    color: #384252; }
  .our-story h1 {
    padding-left: 2rem; }
  .our-story .story-start-container {
    position: relative;
    margin-top: 4rem; }
    .our-story .story-start-container::before {
      background: url("../images/cheers.png") 0 0 no-repeat;
      background-size: 200px;
      display: inline-block;
      width: 200px;
      height: 200px;
      content: "";
      z-index: -1;
      margin-left: 38%; }
      @media (min-width: 520px) {
        .our-story .story-start-container::before {
          margin-left: 50%; } }
      @media (min-width: 992px) {
        .our-story .story-start-container::before {
          margin-left: 60%; } }
  .our-story .story-proposal-container {
    position: relative;
    margin-top: 2rem; }
    .our-story .story-proposal-container::before {
      background: url("../images/ring.png") 0 0 no-repeat;
      background-size: 150px;
      display: inline-block;
      width: 150px;
      height: 150px;
      content: "";
      z-index: -1;
      margin-left: 35%;
      margin-top: -12rem; }
    .our-story .story-proposal-container h1 {
      text-align: center;
      padding-left: 0;
      margin-top: 0; }
  .our-story .large-story-img {
    padding: 1rem; }
  .our-story .story-title {
    margin-top: -10rem; }
  .our-story .story-title-bg {
    position: absolute;
    width: 10rem;
    top: -2rem;
    z-index: 1; }
  .our-story .story-img {
    width: 100%; }
  .our-story .top-margin {
    margin-top: 3rem; }
  .our-story .story-text {
    max-width: 30rem;
    margin: 0 auto;
    padding: 0 2rem; }
    @media (min-width: 576px) {
      .our-story .story-text {
        padding: 0; } }
  .our-story .photo {
    background: url("../images/vertical1.jpg") 0 0 no-repeat;
    background-size: cover; }
  .our-story .photo2 {
    background: url("../images/vertical2.jpg") 0 0 no-repeat;
    background-size: cover; }
  .our-story .spacer {
    margin-bottom: 5rem; }

.invitation-text {
  text-align: center;
  background: #384252 url("../images/corner.png");
  background-attachment: fixed;
  background-size: 350px;
  padding: 10rem 0 8rem 0; }
  .invitation-text h1 {
    color: #fff8f6;
    line-height: 1.6; }
  .invitation-text a {
    font-family: 'Scheherazade', serif;
    font-size: 22px;
    color: #fff8f6;
    border: 1px solid #fff8f6;
    padding: 1rem 2rem 0.75rem 2rem;
    width: 30%;
    display: inline-block;
    margin-top: 20px; }
    .invitation-text a:hover, .invitation-text a:focus, .invitation-text a:active {
      text-decoration: none;
      background-color: rgba(255, 248, 246, 0.25); }

.fixed-photo {
  background: url("../images/ring.jpg") 0 0 no-repeat;
  background-size: cover;
  background-position: 20%;
  height: 300px; }
  @media (min-width: 992px) {
    .fixed-photo {
      height: 450px; } }
  @media (min-width: 1199px) {
    .fixed-photo {
      height: 600px; } }

.separator {
  width: 18rem; }

.corner {
  width: 25%;
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(90deg); }

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center; }

.text-position {
  text-align: center; }
  .text-position h1,
  .text-position h2 {
    color: #fff8f6; }

.story-background {
  background: #fff8f6;
  padding: 1.5rem;
  margin-top: 4rem;
  opacity: 0.75; }
  .story-background h2 {
    text-align: center;
    margin-bottom: 1rem; }
  .story-background p:last-child {
    margin-bottom: 0; }

.story-title h3 {
  padding-top: 0;
  margin-bottom: 0; }

.story-image {
  background: url("../images/memories/pose2.jpg") 0 0 no-repeat;
  background-size: cover;
  height: 90%;
  background-position: 0 35%; }

.flourish {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2rem; }

#registry {
  background: #ffdfd3; }
  #registry .row {
    text-align: center; }
  #registry img {
    width: 100%;
    max-width: 300px;
    text-align: center; }

#dinner {
  width: 80%;
  height: 300px;
  margin: 0 10%;
  background: url("../images/dinner_map.png") 0 0 no-repeat;
  background-size: cover;
  margin-top: 2rem; }
  @media (min-width: 768px) {
    #dinner {
      background-position: -10rem 0;
      width: 100%;
      height: 400px;
      margin: 0; } }
  @media (min-width: 992px) {
    #dinner {
      background-position: 0 0; } }

#ceremony {
  width: 80%;
  height: 300px;
  margin: 0 10%;
  background: url("../images/ceremony_map.png") 0 0 no-repeat;
  background-size: cover;
  margin-top: 2rem; }
  @media (min-width: 768px) {
    #ceremony {
      background-position: -10rem 0;
      width: 100%;
      height: 400px;
      margin: 0; } }
  @media (min-width: 992px) {
    #ceremony {
      background-position: 0 0; } }

#drinks {
  width: 80%;
  height: 300px;
  margin: 0 10%;
  background: url("../images/drinks_map.png") 0 0 no-repeat;
  background-size: cover;
  margin-top: 2rem; }
  @media (min-width: 768px) {
    #drinks {
      background-position: -10rem 0;
      width: 100%;
      height: 400px;
      margin: 0; } }
  @media (min-width: 992px) {
    #drinks {
      background-position: 0 0; } }

#brunch {
  width: 80%;
  height: 300px;
  margin: 0 10%;
  background: url("../images/brunch_map.png") 0 0 no-repeat;
  background-size: cover;
  margin-top: 2rem; }
  @media (min-width: 768px) {
    #brunch {
      background-position: -10rem 0;
      width: 100%;
      height: 400px;
      margin: 0; } }
  @media (min-width: 992px) {
    #brunch {
      background-position: 0 0; } }

.wedding-party-only {
  color: #ff936d; }

.top-section {
  margin-top: 7.5rem; }

.full-bleed {
  padding: 0;
  margin: 0; }

.map {
  width: 80%;
  margin: 0 10%;
  height: 300px; }
  @media (min-width: 768px) {
    .map {
      width: 100%;
      margin: 0;
      height: 400px; } }

.schedule-container {
  padding-bottom: 3rem; }
  .schedule-container:nth-child(4) {
    background: #384252 url("../images/corner.png");
    background-size: 350px; }
    .schedule-container:nth-child(4) .schedule-item h1,
    .schedule-container:nth-child(4) .schedule-item h2,
    .schedule-container:nth-child(4) .schedule-item p {
      color: #fff8f6; }
    .schedule-container:nth-child(4) .schedule-item img {
      width: 3rem;
      display: inline-block;
      transform: rotate(30deg); }
      .schedule-container:nth-child(4) .schedule-item img.reflect {
        transform: rotate(-30deg); }

.schedule-item {
  text-align: center; }
  .schedule-item h1 {
    display: inline-block;
    margin: 0 0.75rem; }
    .schedule-item h1::before {
      background: url("../images/flourish2_opp.svg") 0 0 no-repeat;
      background-size: 40px;
      display: block;
      width: 40px;
      height: 40px;
      content: "";
      display: inline-block;
      margin-bottom: -1rem;
      margin-right: 0.5rem; }
    .schedule-item h1::after {
      background: url("../images/flourish2.svg") 0 0 no-repeat;
      background-size: 40px;
      display: block;
      width: 40px;
      height: 40px;
      content: "";
      display: inline-block;
      margin-bottom: -1.15rem;
      margin-left: 1rem; }
    @media (min-width: 768px) {
      .schedule-item h1::before {
        background: url("../images/flourish2_opp.svg") 0 0 no-repeat;
        background-size: 50px;
        display: block;
        width: 50px;
        height: 50px;
        content: "";
        display: inline-block;
        margin-bottom: -1rem;
        margin-right: 0.5rem; }
      .schedule-item h1::after {
        background: url("../images/flourish2.svg") 0 0 no-repeat;
        background-size: 50px;
        display: block;
        width: 50px;
        height: 50px;
        content: "";
        display: inline-block;
        margin-bottom: -1.15rem;
        margin-left: 1rem; } }
    .schedule-item h1.ceremony::before {
      width: 0;
      height: 0;
      content: "";
      background: none;
      margin-top: 50px; }
    .schedule-item h1.ceremony::after {
      width: 0;
      height: 50px;
      content: "";
      display: inline-block;
      background: none; }
  .schedule-item .more-details {
    margin: 2rem auto 0 auto;
    clear: both;
    width: 60%; }
    .schedule-item .more-details p {
      line-height: 1.1; }
  .schedule-item .event-info-container {
    margin-top: 2rem;
    overflow: hidden; }
    @media (min-width: 992px) {
      .schedule-item .event-info-container {
        margin-bottom: 0;
        width: 60%;
        margin: 2rem auto 2rem auto; } }
    .schedule-item .event-info-container.ceremony-info {
      margin-bottom: 0; }
  .schedule-item .event-address, .schedule-item .transportation-address {
    width: 60%;
    margin: 0 auto 2rem auto; }
    .schedule-item .event-address p, .schedule-item .transportation-address p {
      margin-bottom: 0;
      line-height: 1.1; }
  .schedule-item .transportation-address {
    width: 100%;
    max-width: 45rem; }
  .schedule-item .event-info-wrapper {
    width: 60%;
    margin: 0 auto;
    overflow: hidden;
    max-width: 12rem; }
  .schedule-item .time {
    text-align: left;
    float: left;
    vertical-align: top;
    width: 40%;
    clear: both; }
    .schedule-item .time p {
      line-height: 1.1;
      font-weight: bold;
      margin-bottom: 0; }
    .schedule-item .time.single-time {
      width: 100%;
      text-align: center; }
  .schedule-item .event-info {
    text-align: left;
    float: left;
    width: 60%; }
    .schedule-item .event-info p {
      margin-bottom: 0;
      line-height: 1.1; }
  .schedule-item.trans-item {
    margin-top: 4rem; }
    .schedule-item.trans-item:first-child {
      margin-top: 0; }

.acc-container {
  text-align: center; }
  .acc-container .story-title h1 {
    margin-top: -2rem; }
  .acc-container .acc-info.short {
    min-height: 458px; }
  @media (min-width: 768px) {
    .acc-container .row:nth-child(3) .acc-info {
      min-height: 720px; }
      .acc-container .row:nth-child(3) .acc-info.short {
        min-height: 458px; } }
  @media (min-width: 992px) {
    .acc-container .row:nth-child(3) .acc-info {
      min-height: 588px; }
      .acc-container .row:nth-child(3) .acc-info.short {
        min-height: 0; } }
  .acc-container.malibu {
    padding-top: 0; }

.desc-text {
  margin-top: 1rem;
  margin-bottom: 4rem; }
  .desc-text span {
    font-weight: bold;
    margin-top: 1rem;
    display: block; }
  .desc-text.shuttle-info span {
    margin-top: 0; }

.acc-title {
  background: url("../images/malibu.jpg") 0 0 no-repeat;
  background-size: cover;
  background-position: 10%; }

.acc-info {
  text-align: center;
  margin-bottom: 4rem;
  border: 1px solid #384252; }
  .acc-info .acc-img {
    width: 100%;
    padding: 8rem;
    margin-bottom: 2rem;
    background-size: cover; }
    .acc-info .acc-img.palihouse {
      background-image: url("../images/palihouse.jpg"); }
    .acc-info .acc-img.marriott {
      background-image: url("../images/courtyard.jpg"); }
    .acc-info .acc-img.country {
      background-image: url("../images/country.jpg"); }
    .acc-info .acc-img.airbnb {
      background-image: url("../images/airbnb.jpg"); }
    .acc-info .acc-img.pier {
      background-image: url("../images/pier.jpg"); }
    .acc-info .acc-img.sugarfish {
      background-image: url("../images/sugarfish.jpg"); }
    .acc-info .acc-img.cabo {
      background-image: url("../images/cabo.jpg"); }
    .acc-info .acc-img.misfits {
      background-image: url("../images/misfits.jpg"); }
    .acc-info .acc-img.rosenthal {
      background-image: url("../images/rosenthal.jpg"); }
    .acc-info .acc-img.third {
      background-image: url("../images/third.jpg"); }
    .acc-info .acc-img.flying {
      background-image: url("../images/flying.jpg"); }
    .acc-info .acc-img.hiking {
      background-image: url("../images/hiking.jpg"); }
    .acc-info .acc-img.farm {
      background-image: url("../images/farm.jpg"); }
    .acc-info .acc-img.sunset {
      background-image: url("../images/sunset.jpg"); }
    .acc-info .acc-img.nobu {
      background-image: url("../images/nobu.jpg"); }
    .acc-info .acc-img.bui {
      background-image: url("../images/bui.jpg"); }
    .acc-info .acc-img.thai {
      background-image: url("../images/thai.jpg"); }
    .acc-info .acc-img.malibu-wines {
      background-image: url("../images/malibu-wines.jpg"); }
    .acc-info .acc-img.backbone {
      background-image: url("../images/backbone.jpg"); }
    .acc-info .acc-img.solstice {
      background-image: url("../images/solstice.jpg"); }
    .acc-info .acc-img.vintage {
      background-image: url("../images/vintage.jpg"); }
    .acc-info .acc-img.johns {
      background-image: url("../images/johns.jpg"); }
    .acc-info .acc-img.tra {
      background-image: url("../images/tra.jpg"); }
    .acc-info .acc-img.sunlife {
      background-image: url("../images/sun.jpg"); }
    .acc-info .acc-img.lilys {
      background-image: url("../images/lilys.jpg"); }
  .acc-info p {
    line-height: 1; }
  .acc-info .icon-border {
    border: 1px solid #a9e5e7;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    padding: 0.25rem;
    margin: 0 auto;
    margin-bottom: 2rem; }
  .acc-info .code {
    font-weight: bold; }
  .acc-info a {
    font-family: 'Great Vibes', sans-serif;
    color: #384252;
    font-size: 1.25rem;
    letter-spacing: 2px;
    padding: 0.75rem 1.5rem 0.5rem 1.5rem;
    border: 1px solid #384252;
    display: inline-block;
    margin: 2rem; }
    .acc-info a:hover {
      text-decoration: none; }
  .acc-info .acc-text {
    padding: 0 2rem; }
    .acc-info .acc-text h2:nth-child(2) {
      margin: 2rem 0; }
  .acc-info .airbnb-text h2:nth-child(2) {
    margin-bottom: 0; }
  .acc-info .airbnb-text a {
    margin: 2rem 0;
    width: 48%; }
    @media (min-width: 768px) {
      .acc-info .airbnb-text a {
        width: auto;
        min-width: 190px; }
        .acc-info .airbnb-text a:first-child {
          margin: 2rem 0 0 0; }
        .acc-info .airbnb-text a:last-child {
          margin: 0 0 2rem 0; } }
    @media (min-width: 992px) {
      .acc-info .airbnb-text a {
        margin-top: 3.1rem; } }

.party-container {
  text-align: center; }
  .party-container img {
    width: 100%;
    margin: 3rem 0 1.5rem 0;
    border-radius: 10px;
    max-width: 300px; }

.party-title {
  text-align: center;
  width: 100%; }

.party-desc {
  margin-top: 0.5rem;
  display: block; }

.party-time {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding-bottom: 0.5rem;
  font-style: italic; }

.grid-container h1 {
  text-align: center;
  display: block;
  width: 100%; }

.masonry, .masonry-grid {
  /* Masonry container */
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1em;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  font-size: .85em;
  margin-top: 3rem; }

.item {
  display: inline-block;
  margin: 0 0 1.5em;
  width: 100%;
  -webkit-transition: 1s ease all;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.item img {
  width: 100%; }

@media only screen and (max-width: 768px) {
  .masonry {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    margin: 3rem 1.5rem 0 1.5rem; }

  .masonry-grid {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    margin: 3rem 1.5rem 0 1.5rem; } }
@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    margin: 3rem 0 0 0; }

  .masonry-grid {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    margin: 3rem 0 0 0; } }
@media only screen and (min-width: 1201px) {
  .masonry {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2; }

  .masonry-grid {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3; } }
.gallery-top {
  margin-top: 8rem; }

.years-container img {
  width: 100%; }
.years-container p {
  text-align: center;
  font-family: 'Scheherazade', serif; }
.years-container h1 {
  margin-bottom: 3rem; }

.things-top h1 {
  margin-bottom: 2rem; }

/*# sourceMappingURL=main.css.map */
